@import '~stylus/colors'

@media screen and (max-width: 768px)
	html
		font-size 20px

.app
	header
		background white
		color satura
		padding 24px
		font-family 'Montserrat', sans-serif
		text-align center
		h1
			font-size 1.6rem
		h1
		h4
			margin 0
			font-weight 400
		.right
			text-align right
	button
		border none
		background none
		outline none
		padding 8px
		margin 4px
		font-size 0.9rem
		min-width 64px
		font-weight 500
		font-family 'Montserrat', sans-serif
		border 1px solid satura
		&:disabled
			border-color saturaBleaked
	.adjustableInput
		display block
		margin 8px 16px
		input
			max-width 6rem
	// .time
	// 	circle = 96px
	// 	box-sizing content-box
	// 	height circle
	// 	width circle
	// 	margin  8px auto
	// 	position relative
	// 	border-radius 50%
	// 	border 2px solid satura
	span.time-text
		margin-top 88px
		display inline-block

.App {
  text-align: center;
}

.App-appIcon {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
