@import '~stylus/colors'

.task
	&.editing
		.editing
			display block
	.editing
		display none
	.THE-task
		font-size 1.55rem
		font-family 'Montserrat', sans-serif
		font-weight 400
		color satura
		user-select none
